<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue and Firebase</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900">
</head>
<body>
    <main>
        <ul>
            <li v-for='(value, key, index in user'>
                {{key}}: {{value}}
            </li>
        </ul>

        <form v-on:submit.prevent="addTask">
            <input type="text" placeholder="Add New Task" v-model="newTaskDescription">
            <input type="submit" value="Send" >
        </form>


        <h1>Top Priorities</h1>
        <ul>
             <li v-for='(todo in topPriorities'>
                {{ todo.description }}
                <small>{{ todo.priority }}</small>
            </li>
        </ul>

        
        <input type="range" min="0" max="10" v-model="minimumPriority">
        <!-- <pre>{{ $data  }}</pre> -->

        <h1>Search</h1>
        <input type="search" v-model="keyword" placeholder="Insert Keyword">
        <ul>
             <li v-for='(todo in searchTask'>
                {{ todo.description }}
                <small>{{ todo.priority }}</small>
            </li>
        </ul>
    </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
"use strict";

const nm = new Vue({
    el: 'main',
    data: {
        newTaskDescription: '',
        keyword: '',
        minimumPriority: 5,
        workdays: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
        todos: [
            { description: 'Homework', priority: 8 },
            { description: 'Learn Vue', priority: 10 },
            { description: 'Laundry', priority: 1 },            
        ],
        user: {
            username: 'Alice',
            password: '12345',
            about: 'About Alice'
        }
    },
    methods: {
        addTask () {
            this.todos.unshift({ 
                description: this.newTaskDescription, 
                priority: 5
            });
            this.newTaskDescription = '';
            
        }
    },
    computed: {
        topPriorities() {
            return this.todos.filter(
                (todo) => todo.priority >= this.minimumPriority)
        },
        searchTask() {
            return this.todos.filter(
                (todo) => todo.description.includes(this.keyword))
        }
    }
});
</script>
</html>