<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue and Firebase</title>
</head>
<body>
    <main>
        <ul>
            <li v-for='day in workdays'> {{ day }}</li>
        </ul>
        <ul>
             <li v-for='(todo, index) in todos'>
                {{ index }} - 
                {{ todo.description }}
                <small>{{ todo.priority }}</small>
            </li>
        </ul>
        <ul>
            <li v-for='(value, key, index in user'>
                {{key}}: {{key}}: {{value}}
            </li>
        </ul>

        <pre>{{ $data }}</pre>   
    </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
"use strict";

const nm = new Vue({
    el: 'main',
    data: {
        workdays: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
        todos: [
            { description: 'Homework', priority: 'medium' },
            { description: 'Learn Vue', priority: 'high' },
            { description: 'Laundry', priority: 'low' },            
        ],
        user: {
            username: 'Alice',
            password: '12345',
            about: 'About Alice'
        }
    }
});


</script>
</html>